    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  
 <div id="loader">
        <div class="spinner-grow text-secondary" role="status"></div>
    </div>

      <div class="appHeader">
        <div class="left">
            <a href="javascript:;" class="headerButton goBack">
                <i class="icon ion-ios-arrow-back"></i>
            </a>
        </div>
        <div class="pageTitle">Trending</div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">
    
    <style>
        .imaged1{
            object-fit: cover;
width: 100%;
height: 250px;
transition: .5s linear
        }



    </style>

        <div class="listview-title mt-2">Trending Memes</div>

        <div class="section full mb-3">
            {{!-- <div class="section-title">Single Carousel</div> --}}

            <div class="carousel-single owl-carousel owl-theme">
                {{#each finalMemeSingle}}
                <div class="onP" class="item">
                    <img src="{{meme_image}}" alt="alt" class="imaged1">
                </div>
        {{/each}}
               
            </div>

            <p style="text-align: center">click to enlarge image</p>
            
        </div> 
<div class="modal fade" role="dialog" id="imgmodal">
    <div style="top:20%" class="modal-dialog">
        <div class="modal-content"></div>          
                    <img class="imaged w-100" src="" id="show-img">         
        </div>
    </div>


{{!-- <ul class="listview image-listview media mb-2">
       
            <li>
                <a href="#" class="item">
                    <div class="imageWrapper">
                        <img src="assets/img/sample/photo/3.jpg" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            #dank memes
                            <div class="text-muted">3 memes</div>
                        </div>
                    </div>
                </a>
            </li>
             <li>
                <a href="#" class="item">
                    <div class="imageWrapper">
                        <img src="assets/img/sample/photo/3.jpg" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            #funny memes
                            <div class="text-muted">3 memes</div>
                        </div>
                    </div>
                </a>
            </li>
             <li>
                <a href="#" class="item">
                    <div class="imageWrapper">
                        <img src="assets/img/sample/photo/3.jpg" alt="image" class="imaged w64">
                    </div>
                    <div class="in">
                        <div>
                            #adult memes
                            <div class="text-muted">3 meme</div>
                        </div>
                    </div>
                </a>
            </li>


        </ul> --}}
        
    <div class="section mt-2">
        {{#each finalMemeArray}}
            <div class="card">
                <img src="{{meme_image}}" class="card-img-top" alt="image">
                <div class="card-body">
                     <h6 class="card-subtitle mb-1"> <strong>Title</strong> {{meme_title}}</h6>
                          <h6 class="card-subtitle mb-1"><strong>Tags </strong>{{meme_type}}</h6>
                             <h6 class="card-subtitle mb-1"><strong>Description </strong>{{meme_description}}</h6>
                             <h6  class="card-subtitle mb-1"><strong>Meme by </strong>{{meme_by}}</h6>
                                                          <h6  style="text-align: right" class="card-subtitle mb-1"> <strong>Created At </strong>{{meme_createdAt}}</h6>

                </div>
            </div>
            {{/each}}
        </div>

</div>
<script>
    $(document).ready(function(){
        $(".imaged1").click(function(){
           var img=$(this).attr('src');
             $("#show-img").attr('src',img);
             $("#imgmodal").modal('show');
        });
    });
</script>

        


    </div>